.c-wysiwyg {
    font-size: var(--font-size);
    font-weight: var(--font-weight);

    > * + * {
        margin-top: 1rem;
    }

    ul {
        list-style: disc;
    }

    ol {
        list-style: decimal;
    }

    ul,
    ol {
        margin-left: 1.4em;

        li + li {
            margin-top: 0.5em;
        }
    }

    strong,
    b {
        font-weight: var(--font-weight--bold);
    }

    em,
    i {
        font-style: italic;
    }
}
