:root {
  --color-body: #ffffff;
  --color-text: #002344;
  --color-primary: #4cc74a;
  --color-secondary: #fbf86b;
  --color-border: #e8e8e8;
  --color-error: red;
  --color-success: green;
  --color-muted: #777777; }

:root {
  --box-shadow: 0;
  --border-color: var(--color-border);
  --border-radius: 5px;
  --border-style: solid;
  --border-width: 1px;
  --transition-delay: 0s;
  --transition-duration: 0.5s;
  --transition-duration--fast: 0.1s;
  --transition-duration--slow: 1s;
  --transition-timing-function: ease-in-out; }

:root {
  --font-family: "Roboto", sans-serif;
  --font-size: 1.6rem;
  --font-size--s: 1.4rem;
  --font-size--xs: 1.2rem;
  --font-weight: 400;
  --font-weight--bold: 700;
  --font-weight--light: 300;
  --line-height: 1.5;
  --heading-font-family: "DM Serif Text", serif;
  --heading-font-size--xxl: 5.3rem;
  --heading-line-height--xxl: 0.8;
  --heading-font-size--xl: 3rem;
  --heading-font-size--l: 2rem; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 10px;
  scroll-behavior: smooth; }

body {
  background-color: #ffffff;
  background-color: var(--color-body);
  color: #002344;
  color: var(--color-text);
  font-family: "Roboto"
,
sans-serif;
  font-family: var(--font-family);
  font-weight: 400;
  font-weight: var(--font-weight);
  line-height: 1.5;
  line-height: var(--line-height); }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  vertical-align: middle;
  width: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto"
,
sans-serif;
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-size: var(--font-size);
  font-weight: 400;
  font-weight: var(--font-weight);
  margin: 0; }

a {
  color: currentColor;
  text-decoration: none; }

.u-hide-text {
  display: inline-block;
  text-indent: -999em;
  white-space: nowrap;
  overflow: hidden; }

.u-visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  
  clip: rect(1px, 1px, 1px, 1px); }

.u-scrollto {
  position: relative;
  top: -150px;
  height: 0; }

.u-blank-button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.u-no-link {
  color: #002344 !important;
  color: var(--color-text) !important; }

.u-text-size--xxl {
  font-family: var(--typography--xxl-font-family);
  font-size: var(--typography--xxl-font-size);
  font-weight: var(--typography--xxl-font-weight);
  line-height: var(--typography--xxl-line-height);
  text-transform: var(--typography--xxl-text-transform); }

.u-text-size--xl {
  font-family: var(--typography--xl-font-family);
  font-size: var(--typography--xl-font-size);
  font-weight: var(--typography--xl-font-weight);
  line-height: var(--typography--xl-line-height);
  text-transform: var(--typography--xl-text-transform); }

.u-text-size--l {
  font-family: var(--typography--l-font-family);
  font-size: var(--typography--l-font-size);
  font-weight: var(--typography--l-font-weight);
  line-height: var(--typography--l-line-height);
  text-transform: var(--typography--l-text-transform); }

.u-text-size--m {
  font-family: var(--typography--m-font-family);
  font-size: var(--typography--m-font-size);
  font-weight: var(--typography--m-font-weight);
  line-height: var(--typography--m-line-height);
  text-transform: var(--typography--m-text-transform); }

.u-text-size--s {
  font-family: var(--typography--s-font-family);
  font-size: var(--typography--s-font-size);
  font-weight: var(--typography--s-font-weight);
  line-height: var(--typography--s-line-height);
  text-transform: var(--typography--s-text-transform); }

.u-text-size--xs {
  font-family: var(--typography--xs-font-family);
  font-size: var(--typography--xs-font-size);
  font-weight: var(--typography--xs-font-weight);
  line-height: var(--typography--xs-line-height);
  text-transform: var(--typography--xs-text-transform); }

.u-text-align--center {
  text-align: center; }

.u-text-align--left {
  text-align: left; }

.u-text-aligh--right {
  text-align: right; }

.c-button {
  --button-background-color: var(--color-primary);
  --button-border-color: var(--color-primary);
  --button-border-radius: 17px;
  --button-border-style: solid;
  --button-border-width: 2px;
  --button-color: white;
  --button-font-family: var(--font-family);
  --button-font-size: 1.5rem;
  --button-font-weight: var(--font-weight--bold);
  --button-letter-spacing: 0;
  --button-line-height: 30px;
  --button-text-transform: none;
  --button-padding-bottom: 0;
  --button-padding-left: 2.5rem;
  --button-padding-right: 2.5rem;
  --button-padding-top: 0;
  --button-transition-delay: var(--transition-delay);
  --button-transition-duration: var(--transition-duration--fast);
  --button-transition-property: all;
  --button-transition-timing-function: var(--transition-timing-function);
  --button-background-color--hover: transparent;
  --button-border-color--hover: var(--button-background-color);
  --button-border-style--hover: var(--button-border-style);
  --button-border-width--hover: var(--button-border-width);
  --button-color--hover: var(--button-background-color);
  --button-background-color--focus: var(--button-background-color--hover);
  --button-border-color--focus: var(--button-border-color--hover);
  --button-border-style--focus: var(--button-border-style--hover);
  --button-border-width--focus: var(--button-border-width--hover);
  --button-color--focus: var(--button-color--hover);
  --button-outline-color--focus: var(--button-border-color--hover);
  --button-outline-style--focus: var(--button-border-style--hover);
  --button-outline-width--focus: var(--button-border-width--hover); }

.c-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: var(--button-background-color);
  border-color: var(--button-border-color);
  border-radius: var(--button-border-radius);
  border-style: var(--button-border-style);
  border-width: var(--button-border-width);
  color: var(--button-color);
  cursor: pointer;
  display: inline-block;
  font-family: var(--button-font-family);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  letter-spacing: var(--button-letter-spacing);
  line-height: var(--button-line-height);
  padding-bottom: var(--button-padding-bottom);
  padding-left: var(--button-padding-left);
  padding-right: var(--button-padding-right);
  padding-top: var(--button-padding-top);
  text-transform: var(--button-text-transform);
  -webkit-transition-delay: var(--button-transition-delay);
          transition-delay: var(--button-transition-delay);
  -webkit-transition-duration: var(--button-transition-duration);
          transition-duration: var(--button-transition-duration);
  -webkit-transition-property: var(--button-transition-property);
  transition-property: var(--button-transition-property);
  -webkit-transition-timing-function: var(--button-transition-timing-function);
          transition-timing-function: var(--button-transition-timing-function);
  vertical-align: middle;
  white-space: nowrap; }
  .c-button, .c-button:hover, .c-button:focus {
    text-decoration: none; }
  .c-button:hover {
    background-color: var(--button-background-color--hover);
    border-color: var(--button-border-color--hover);
    border-style: var(--button-border-style--hover);
    border-width: var(--button-border-width--hover);
    color: var(--button-color--hover); }
  .c-button:focus {
    background-color: var(--button-background-color--focus);
    border-color: var(--button-border-color--focus);
    border-style: var(--button-border-style--focus);
    border-width: var(--button-border-width--focus);
    color: var(--button-color--focus);
    outline-color: var(--button-outline-color--focus);
    outline-style: var(--button-outline-style--focus);
    outline-width: var(--button-outline-width--focus); }

.c-button--small {
  --button-font-size: 1.4rem; }

.c-button--large {
  --button-border-radius: 24px;
  --button-line-height: 44px;
  --button-padding-left: 5rem;
  --button-padding-right: 5rem;
  --button-text-transform: uppercase; }

.c-button--full {
  text-align: center;
  width: 100%; }

.c-button--border {
  --button-background-color: transparent;
  --button-color: var(--color-primary);
  --button-font-weight: normal;
  --button-color--hover: white;
  --button-background-color--hover: var(--color-primary);
  --button-border-color--hover: var(--button-border-color);
  --button-border-style--hover: var(--button-border-style);
  --button-border-width--hover: var(--button-border-width); }

.c-button--disabled {
  --button-background-color: var(--color-muted);
  --button-color: var(--color-text);
  cursor: text; }

.c-button--error {
  --button-background-color: var(--color-error); }

.c-button--secondary {
  --button-background-color: var(--color-secondary);
  --button-color: var(--color-text); }

.c-button--success {
  --button-background-color: var(--color-success); }

.c-button--has-icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.c-card {
  background-color: white;
  border: solid 1px #e8e8e8;
  border: solid 1px var(--color-border);
  border-radius: 8px;
  -webkit-box-shadow: 0;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: 0;
          box-shadow: var(--box-shadow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  max-width: 600px;
  overflow: hidden; }

.c-card__body {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 2rem 3rem; }

.c-card__body__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.c-card__image {
  -ms-flex-item-align: start;
      align-self: flex-start;
  border-bottom: solid 1px #e8e8e8;
  border-bottom: solid 1px var(--color-border); }

.c-card__title {
  color: #000000;
  font-size: 1.6rem;
  font-size: var(--font-size);
  font-weight: 700;
  font-weight: var(--font-weight--bold); }

.c-card__meta {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #777777;
  color: var(--color-muted);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.6rem;
  font-size: var(--font-size);
  margin-top: 0.5rem; }

.c-card__button {
  margin-top: 2rem; }

.c-wysiwyg.c-ticklist ul {
  list-style: none;
  margin-left: 0; }

.c-wysiwyg.c-ticklist li {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMzJweCIgaGVpZ2h0PSIyNXB4IiB2aWV3Qm94PSIwIDAgMzIgMjUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDYxLjIgKDg5NjUzKSAtIGh0dHBzOi8vc2tldGNoLmNvbSAtLT4KICAgIDx0aXRsZT5QYXRoPC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgaWQ9ImNoZWNrIiBmaWxsPSIjMDAyMzQ0IiBmaWxsLXJ1bGU9Im5vbnplcm8iPgogICAgICAgICAgICA8cG9seWdvbiBpZD0iUGF0aCIgcG9pbnRzPSIyNyAwIDEyIDE1IDUgOCAwIDEzIDEyIDI1IDMyIDUiPjwvcG9seWdvbj4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-position: left 5px;
  background-size: 15px;
  border-bottom: solid 1px #e8e8e8;
  border-bottom: solid 1px var(--color-border);
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  padding-left: 25px; }
  .c-wysiwyg.c-ticklist li:last-child {
    margin-bottom: 0; }

input,
select,
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: white;
  border-color: #002344;
  border-color: var(--color-text);
  border-radius: 5px;
  border-radius: var(--border-radius);
  border-style: solid;
  border-style: var(--border-style);
  border-width: 1px;
  border-width: var(--border-width);
  color: black;
  font-family: "Roboto"
,
sans-serif;
  font-family: var(--font-family);
  font-size: 1.4rem;
  font-size: var(--font-size--s);
  font-weight: 400;
  font-weight: var(--font-weight);
  vertical-align: middle;
  white-space: nowrap; }
  input::-webkit-input-placeholder, select::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #777777;
    color: var(--color-muted); }
  input::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder {
    color: #777777;
    color: var(--color-muted); }
  input:-ms-input-placeholder, select:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #777777;
    color: var(--color-muted); }
  input::-ms-input-placeholder, select::-ms-input-placeholder, textarea::-ms-input-placeholder {
    color: #777777;
    color: var(--color-muted); }
  input::placeholder,
  select::placeholder,
  textarea::placeholder {
    color: #777777;
    color: var(--color-muted); }

.c-label {
  display: block;
  font-family: "Roboto"
,
sans-serif;
  font-family: var(--font-family);
  font-size: 1.4rem;
  font-size: var(--font-size--s);
  font-weight: 400;
  font-weight: var(--font-weight); }

.c-input--text {
  height: 50px;
  line-height: 50px;
  padding: 0 2.5rem;
  width: 100%; }

.c-input--textarea {
  height: 150px;
  padding: 1rem 2.5rem;
  width: 100%; }

.c-input--select {
  background-image: url("data:image/svg+xml;base64,CjxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0OCA0OCIgZmlsbD0iIzc3Nzc3NyI+CjxwYXRoIGQ9Ik0xMy45NjkgMTkuOTY5aDIwLjA2M2wtMTAuMDMxIDEwLjAzMXoiPjwvcGF0aD4KPC9zdmc+Cg==");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 24px;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  padding-bottom: 0;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 0;
  width: 100%; }

.c-form-field + .c-form-field {
  margin-top: 2rem; }

.c-link {
  color: #4cc74a;
  color: var(--color-primary);
  display: inline-block;
  font-size: 1.6rem;
  font-size: var(--font-size);
  font-weight: 700;
  font-weight: var(--font-weight--bold); }
  .c-link:focus, .c-link:hover {
    text-decoration: underline; }

.c-logo svg {
  height: 20px;
  width: auto; }

.c-slide-container {
  margin: 0 auto;
  position: relative;
  z-index: 1; }

.c-slides__slide {
  display: none; }

.c-slides__slide.c-slides__slide--active {
  display: inline-block; }

.c-slides__prev,
.c-slides__next {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 38px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -19px;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  width: 30px; }
  .c-slides__prev:hover, .c-slides__prev:focus,
  .c-slides__next:hover,
  .c-slides__next:focus {
    background-color: white; }
    .c-slides__prev:hover svg path, .c-slides__prev:focus svg path,
    .c-slides__next:hover svg path,
    .c-slides__next:focus svg path {
      stroke: #4cc74a;
      stroke: var(--color-primary); }

.c-slides__prev {
  left: 0; }

.c-slides__next {
  right: 0; }

.c-snippet__title {
  color: #000000;
  font-family: "DM Serif Text"
,
serif;
  font-family: var(--heading-font-family);
  font-size: 3rem;
  font-size: var(--heading-font-size--xl); }

.c-snippet__body {
  color: #777777;
  color: var(--color-muted);
  margin-top: 2rem;
  max-width: 43ch; }

.c-snippet__cta {
  display: inline-block;
  margin-top: 2rem; }

.c-wysiwyg {
  font-size: 1.6rem;
  font-size: var(--font-size);
  font-weight: 400;
  font-weight: var(--font-weight); }
  .c-wysiwyg > * + * {
    margin-top: 2rem; }
  .c-wysiwyg ul {
    list-style: disc; }
  .c-wysiwyg ol {
    list-style: decimal; }
  .c-wysiwyg ul,
  .c-wysiwyg ol {
    margin-left: 1.4em; }
    .c-wysiwyg ul li + li,
    .c-wysiwyg ol li + li {
      margin-top: 0.5em; }
  .c-wysiwyg strong,
  .c-wysiwyg b {
    font-weight: 700;
    font-weight: var(--font-weight--bold); }
  .c-wysiwyg em,
  .c-wysiwyg i {
    font-style: italic; }
  .c-wysiwyg h2 {
    line-height: 1.2;
    font-family: "DM Serif Text"
,
serif;
    font-family: var(--heading-font-family);
    font-size: 3rem;
    font-size: var(--heading-font-size--xl);
    margin-bottom: 2rem; }
  .c-wysiwyg * + h2 {
    margin-top: 2rem; }
  .c-wysiwyg * + h3 {
    margin-top: 2rem; }
  .c-wysiwyg h3 {
    font-weight: 700;
    font-weight: var(--font-weight--bold);
    line-height: 1.3; }
  .c-wysiwyg a {
    text-decoration: underline; }
    .c-wysiwyg a:focus, .c-wysiwyg a:hover {
      text-decoration: none; }

.p-about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none; }
  .p-about-list > * + * {
    width: calc(50% - 2rem); }

.p-blockquote,
.p-placeholder {
  font-size: 20px;
  text-align: center; }

.p-blog-article__header {
  margin-bottom: 3rem; }

.p-blog-article__title {
  font-family: "DM Serif Text"
,
serif;
  font-family: var(--heading-font-family);
  font-size: 5.3rem;
  font-size: var(--heading-font-size--xxl);
  line-height: 1.3;
  margin-bottom: 1rem; }

.p-blog-article__date {
  color: #777777;
  color: var(--color-muted);
  font-size: 1.6rem;
  font-size: var(--font-size); }

.p-blog-article-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media screen and (max-width: 849px) {
    .p-blog-article-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.p-blog-article__main {
  border-radius: 5px;
  border-radius: var(--border-radius);
  border: solid 1px #e8e8e8;
  border: solid 1px var(--border-color);
  width: 60%; }
  @media screen and (max-width: 849px) {
    .p-blog-article__main {
      margin-bottom: 5rem;
      width: 100%; } }

.p-blog-article__main-content {
  padding: 1rem; }
  .p-blog-article__main-content img {
    border-radius: 5px;
    border-radius: var(--border-radius);
    margin: 2rem 0; }
  .p-blog-article__main-content img + p {
    color: red;
    font-size: 1.2rem; }
  @media screen and (min-width: 500px) {
    .p-blog-article__main-content {
      padding: 5rem; } }
  @media screen and (min-width: 1080px) {
    .p-blog-article__main-content {
      padding: 5rem 10rem; } }

.p-blog-article__side {
  width: 33%; }
  @media screen and (max-width: 849px) {
    .p-blog-article__side {
      width: 100%; } }

.p-blog-article__side-section > * + * {
  margin-top: 2rem; }

.p-blog-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem; }

.bold-bundles-product {
  border-top: solid 1px #e8e8e8;
  border-top: solid 1px var(--color-border);
  padding-top: 1rem; }

.bold-bundles-child-product-info {
  padding-bottom: 0; }

.bold-bundles-child-product__title {
  font-size: 1.4rem;
  font-size: var(--font-size--s);
  margin-bottom: 1rem;
  opacity: 1;
  padding-bottom: 0; }

.bold-bundles-child-product {
  background-image: url("data:image/svg+xml;base64,PCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiB2aWV3Qm94PSIwIDAgMzIgMzIiIGZpbGw9IiM0Q0M3NEEiPgo8dGl0bGU+Y2hlY2ttYXJrPC90aXRsZT4KPHBhdGggZD0iTTI3IDRsLTE1IDE1LTctNy01IDUgMTIgMTIgMjAtMjB6Ij48L3BhdGg+Cjwvc3ZnPgo=");
  background-repeat: no-repeat;
  background-position: left 4px;
  background-size: 15px;
  padding-left: 25px; }
  .bold-bundles-child-product + .bold-bundles-child-product {
    margin-top: 2rem; }

.bold-bundles-child-product__link-wrapper {
  font-size: 1.4rem;
  font-size: var(--font-size--s);
  margin-bottom: 0.5rem;
  padding-bottom: 0; }

.bold-bundles-child-product__link {
  text-decoration: underline; }
  .bold-bundles-child-product__link:focus, .bold-bundles-child-product__link:hover {
    color: #4cc74a;
    color: var(--color-primary);
    text-decoration: none; }

.bold-bundles-child-product__variant-wrapper {
  padding-bottom: 0; }
  .bold-bundles-child-product__variant-wrapper select {
    background-image: url("data:image/svg+xml;base64,CjxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0OCA0OCIgZmlsbD0iIzc3Nzc3NyI+CjxwYXRoIGQ9Ik0xMy45NjkgMTkuOTY5aDIwLjA2M2wtMTAuMDMxIDEwLjAzMXoiPjwvcGF0aD4KPC9zdmc+Cg==");
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 24px;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    padding-bottom: 0;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 0;
    width: 100%; }

.p-cart-products {
  border: solid 1px #e8e8e8;
  border: solid 1px var(--color-border);
  border-radius: 5px;
  border-radius: var(--border-radius);
  width: 100%; }

.p-cart-products__headers {
  background-color: #f9f9f9;
  border-bottom: solid 1px #e8e8e8;
  border-bottom: solid 1px var(--color-border);
  text-align: left; }
  .p-cart-products__headers th {
    font-size: 1.6rem;
    font-size: var(--font-size);
    font-family: "DM Serif Text"
,
serif;
    font-family: var(--heading-font-family);
    padding-bottom: 3rem;
    padding-top: 3rem; }

.p-cart-products__header--product {
  padding-left: 5rem;
  padding-right: 1rem; }

.p-cart-products__header--price {
  padding-left: 1rem;
  padding-right: 1rem; }

.p-cart-products__header--qty {
  padding-left: 1rem;
  padding-right: 1rem; }

.p-cart-products__header--total {
  padding-left: 1rem;
  padding-right: 5rem;
  text-align: right; }

.p-cart-product td {
  padding-bottom: 2rem; }

.p-cart-product:first-child td {
  padding-top: 2rem; }

.p-cart-product__image {
  padding-left: 5rem;
  padding-right: 1rem;
  width: 200px; }
  .p-cart-product__image img {
    border: solid 1px #e8e8e8;
    border: solid 1px var(--color-border);
    border-radius: 5px;
    border-radius: var(--border-radius); }

.p-cart-product__detail {
  padding-left: 1rem;
  padding-right: 1rem; }

.p-cart-product__title {
  font-size: 1.6rem;
  font-size: var(--font-size);
  font-weight: 700;
  font-weight: var(--font-weight--bold);
  margin-bottom: 1rem; }

.p-cart-product__remove {
  color: #4cc74a;
  color: var(--color-primary);
  display: block;
  font-size: 1.6rem;
  font-size: var(--font-size); }

.p-cart-product__price {
  font-size: 1.6rem;
  font-size: var(--font-size);
  font-weight: 700;
  font-weight: var(--font-weight--bold);
  padding-left: 1rem;
  padding-right: 1rem; }

.p-cart-product__qty {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100px; }

.p-cart-product__qty__update {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: none;
  border: 0px;
  cursor: pointer;
  font-size: 1.2rem;
  font-size: var(--font-size--xs);
  text-align: center;
  text-decoration: underline;
  width: 100%; }

.p-cart-product__total {
  font-size: 1.6rem;
  font-size: var(--font-size);
  font-weight: 700;
  font-weight: var(--font-weight--bold);
  padding-left: 1rem;
  padding-right: 5rem;
  text-align: right; }

.p-cart-totals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.p-cart-totals__inner {
  margin-left: auto;
  width: 350px; }
  .p-cart-totals__inner p {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: solid 1px #e8e8e8;
    border-bottom: solid 1px var(--color-border);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 1.6rem;
    font-size: var(--font-size);
    line-height: 75px;
    padding-right: 5rem;
    height: 75px; }
    .p-cart-totals__inner p strong {
      font-weight: 700;
      font-weight: var(--font-weight--bold); }
  .p-cart-totals__inner button {
    margin-top: 3rem; }

form.contact-form {
  margin-top: 4rem;
  max-width: 400px; }

.p-faq.c-wysiwyg h2 {
  border-top: solid 1px #e8e8e8;
  border-top: solid 1px var(--color-border);
  margin-top: 2rem;
  padding-top: 2rem; }

.p-feature {
  background-color: #f6f7f9;
  background-image: url("https://source.unsplash.com/600x600/?nature");
  background-size: 50%;
  background-position: left center;
  background-repeat: no-repeat; }

.p-feature__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.p-feature__body {
  margin-left: auto;
  padding: 90px 150px; }
  .p-feature__body .c-snippet__cta {
    margin-top: 4rem; }

.p-footer-credits {
  background-color: #f9f9f9;
  font-size: 1.4rem;
  font-size: var(--font-size--s); }
  .p-footer-credits .l-container {
    padding-right: 0; }

.p-footer-credits__inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media screen and (max-width: 767px) {
    .p-footer-credits__inner {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      padding: 1rem 0; } }

.p-footer-credits__copy {
  color: #777777;
  color: var(--color-muted); }

.p-footer-credits__benefit {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: solid 1px #e8e8e8;
  border-left: solid 1px var(--color-border);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75px;
  line-height: 75px;
  margin-left: auto;
  padding-left: 25px;
  padding-right: 25px; }
  .p-footer-credits__benefit svg {
    margin-left: 1rem; }
  @media screen and (max-width: 767px) {
    .p-footer-credits__benefit {
      border-left: 0px;
      height: auto;
      line-height: 1;
      margin-right: auto;
      margin-bottom: 1rem;
      padding-left: 0;
      padding-right: 0; } }

.p-footer-main a {
  color: #4cc74a;
  color: var(--color-primary); }

.p-footer-main__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media screen and (max-width: 767px) {
    .p-footer-main__inner {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .p-footer-main__inner > * + * {
        margin-top: 2rem; } }

.p-footer-main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
  font-size: var(--font-size--s); }
  .p-footer-main__body > * + * {
    margin-left: 9rem; }
  @media screen and (max-width: 767px) {
    .p-footer-main__body {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .p-footer-main__body > * + * {
        margin-left: 2rem; } }
  @media screen and (max-width: 499px) {
    .p-footer-main__body {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .p-footer-main__body > * + * {
        margin-left: 0;
        margin-top: 2rem; } }

.p-footer-main__title {
  font-weight: 700;
  font-weight: var(--font-weight--bold);
  margin-bottom: 2.5rem;
  text-transform: uppercase; }

.p-footer-main__contact {
  margin-bottom: 2rem; }
  .p-footer-main__contact a {
    display: block; }
    .p-footer-main__contact a:focus, .p-footer-main__contact a:hover {
      text-decoration: underline; }

.p-footer-main__address strong {
  font-weight: 700;
  font-weight: var(--font-weight--bold); }

.p-footer-main__nav a:focus, .p-footer-main__nav a:hover {
  text-decoration: underline; }

.p-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-bottom: solid 1px #e8e8e8;
  border-bottom: solid 1px var(--color-border);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 0;
  padding-left: 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2; }
  @media screen and (min-width: 1080px) {
    .p-header {
      padding-left: 50px; } }
  @media screen and (max-width: 499px) {
    .p-header {
      height: 50px;
      padding-left: 1rem; } }

.p-header-benefit {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  font-size: 1.6rem;
  font-size: var(--font-size);
  font-weight: 500;
  padding-left: 25px;
  padding-right: 25px; }
  .p-header-benefit svg {
    margin-right: 1rem; }
  @media screen and (max-width: 849px) {
    .p-header-benefit {
      margin-left: auto; } }
  @media screen and (max-width: 599px) {
    .p-header-benefit {
      display: none; } }

.p-header-cart {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: solid 1px #e8e8e8;
  border-left: solid 1px var(--color-border);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 70px; }
  .p-header-cart svg {
    fill: #4cc74a;
    fill: var(--color-primary); }
  @media screen and (max-width: 599px) {
    .p-header-cart {
      margin-left: auto; } }
  @media screen and (max-width: 499px) {
    .p-header-cart {
      height: 50px;
      width: 50px; }
      .p-header-cart svg {
        height: auto;
        width: 18px; } }

.p-header-cart__qty {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #4cc74a;
  background-color: var(--color-primary);
  text-align: center;
  min-width: 18px;
  padding: 0 2px;
  height: 18px;
  font-weight: 700;
  font-weight: var(--font-weight--bold);
  color: white;
  font-size: 8px;
  border-radius: 100%;
  line-height: 18px; }

.p-header-logo {
  padding-bottom: 25px;
  padding-top: 25px; }
  .p-header-logo svg {
    height: 20px;
    width: auto;
    fill: #4cc74a;
    fill: var(--color-primary); }

.p-header-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: solid 1px #e8e8e8;
  border-left: solid 1px var(--color-border);
  border-right: solid 1px #e8e8e8;
  border-right: solid 1px var(--color-border);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.6rem;
  font-size: var(--font-size);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 1;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px; }
  @media screen and (min-width: 1080px) {
    .p-header-nav {
      padding-left: 50px;
      padding-right: 50px; } }
  @media screen and (max-width: 849px) {
    .p-header-nav {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      background-color: white;
      border-right: 0px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      height: calc(100% - 70px);
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 30px;
      position: fixed;
      right: -250px;
      top: 70px;
      -webkit-transition: right 0.3s ease-in-out;
      transition: right 0.3s ease-in-out;
      width: 250px; } }

body.nav-active .p-header-nav {
  right: 0; }

.p-header-nav__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative; }
  .p-header-nav__item + .p-header-nav__item {
    margin-left: 30px; }
    @media screen and (min-width: 1080px) {
      .p-header-nav__item + .p-header-nav__item {
        margin-left: 75px; } }
    @media screen and (max-width: 849px) {
      .p-header-nav__item + .p-header-nav__item {
        border-top: solid 1px #e8e8e8;
        border-top: solid 1px var(--color-border);
        margin-left: 0;
        margin-top: 1rem;
        padding-top: 1rem;
        width: 100%; } }
  .p-header-nav__item:focus .p-header-nav__link, .p-header-nav__item:hover .p-header-nav__link {
    color: #4cc74a;
    color: var(--color-primary); }
  .p-header-nav__item:focus .p-header__sub-nav, .p-header-nav__item:hover .p-header__sub-nav {
    display: block; }
  @media screen and (max-width: 849px) {
    .p-header-nav__item {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; } }

.p-header-nav__link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  height: 70px;
  line-height: 70px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }
  .p-header-nav__link svg {
    margin-left: 10px; }
  @media screen and (max-width: 849px) {
    .p-header-nav__link {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      height: auto;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      padding-left: 1rem;
      padding-right: 1rem;
      line-height: 2; }
      .p-header-nav__link svg {
        display: none; } }

@media screen and (min-width: 850px) {
  .p-header__sub-nav {
    background: white;
    border: solid 1px #e8e8e8;
    border: solid 1px var(--color-border);
    border-radius: 0px;
    display: none;
    left: -31px;
    min-width: 250px;
    padding-bottom: 2rem;
    padding-left: 5rem;
    padding-right: 2rem;
    padding-top: 2rem;
    position: absolute;
    top: 69px;
    width: auto;
    z-index: 2; } }

@media screen and (max-width: 849px) {
  .p-header__sub-nav {
    padding-left: 2rem; } }

@media screen and (min-width: 1080px) {
  .p-header__sub-nav {
    left: -51px; } }

.p-header__sub-nav__item {
  white-space: nowrap; }
  .p-header__sub-nav__item + .p-header__sub-nav__item {
    margin-top: 0.5rem;
    padding-top: 0.5rem; }
  .p-header__sub-nav__item:focus .p-header__sub-nav__link, .p-header__sub-nav__item:hover .p-header__sub-nav__link {
    text-decoration: underline; }

.p-header__sub-nav__link {
  display: block;
  padding: 0.5rem 0;
  white-space: nowrap; }

.p-header__nav-trigger {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: solid 1px #e8e8e8;
  border-left: solid 1px var(--color-border);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70px; }
  .p-header__nav-trigger span {
    position: relative;
    margin-top: 7px;
    margin-bottom: 7px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .p-header__nav-trigger span, .p-header__nav-trigger span::before, .p-header__nav-trigger span::after {
      display: block;
      width: 25px;
      height: 3px;
      background-color: #e8e8e8;
      background-color: var(--color-border);
      border-radius: 2px;
      -webkit-transition-property: background-color, -webkit-transform;
      transition-property: background-color, -webkit-transform;
      transition-property: background-color, transform;
      transition-property: background-color, transform, -webkit-transform;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s; }
    .p-header__nav-trigger span::before, .p-header__nav-trigger span::after {
      position: absolute;
      content: ""; }
    .p-header__nav-trigger span::before {
      top: -7px; }
    .p-header__nav-trigger span::after {
      top: 7px; }
  @media screen and (min-width: 850px) {
    .p-header__nav-trigger {
      display: none; } }
  @media screen and (max-width: 499px) {
    .p-header__nav-trigger {
      height: 50px;
      width: 50px; } }

body.nav-active .p-header__nav-trigger span {
  background-color: transparent; }

body.nav-active .p-header__nav-trigger span::before {
  -webkit-transform: translateY(7px) rotate(45deg);
  transform: translateY(7px) rotate(45deg); }

body.nav-active .p-header__nav-trigger span::after {
  -webkit-transform: translateY(-7px) rotate(-45deg);
  transform: translateY(-7px) rotate(-45deg); }

.p-hero {
  background-position: right;
  background-size: cover; }

.p-hero__title {
  font-family: "DM Serif Text"
,
serif;
  font-family: var(--heading-font-family);
  font-size: 6.2rem;
  line-height: 1.1;
  max-width: 450px; }

.p-hero__intro {
  font-size: 1.6rem;
  font-size: var(--font-size);
  margin-top: 3rem;
  max-width: 40ch; }

.p-hero__button {
  margin-top: 2.5rem; }

.p-instagram-list {
  display: -ms-grid;
  display: grid;
  grid-gap: 3rem;
  -ms-grid-columns: (1fr)[6];
  grid-template-columns: repeat(6, 1fr);
  list-style: none; }
  .p-instagram-list li {
    background-color: #e8e8e8;
    background-color: var(--color-border);
    padding-bottom: 100%; }

.p-newsletter {
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat; }

.p-newsletter__inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.p-newsletter__title {
  color: #000;
  font-family: "DM Serif Text"
,
serif;
  font-family: var(--heading-font-family);
  font-size: 3rem;
  font-size: var(--heading-font-size--xl); }

.p-newsletter__subtitle {
  color: #777777;
  color: var(--color-muted);
  font-family: "DM Serif Text"
,
serif;
  font-family: var(--heading-font-family);
  font-size: 3rem;
  font-size: var(--heading-font-size--xl); }

.p-newsletter__actions {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .p-newsletter__actions > * + * {
    margin-left: 5rem; }

.p-page__header {
  margin-bottom: 3rem; }

.p-page__title {
  font-family: "DM Serif Text"
,
serif;
  font-family: var(--heading-font-family);
  font-size: 5.3rem;
  font-size: var(--heading-font-size--xxl);
  line-height: 1.3;
  margin-bottom: 1rem; }

.p-page__meta {
  color: #777777;
  color: var(--color-muted);
  font-size: 1.6rem;
  font-size: var(--font-size); }

.p-page-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media screen and (max-width: 849px) {
    .p-page-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.p-page__main {
  border-radius: 5px;
  border-radius: var(--border-radius);
  border: solid 1px #e8e8e8;
  border: solid 1px var(--border-color);
  overflow: hidden;
  width: 60%; }
  @media screen and (max-width: 849px) {
    .p-page__main {
      margin-bottom: 5rem;
      width: 100%; } }

.p-page__main-content {
  padding: 1rem; }
  .p-page__main-content img {
    border-radius: 5px;
    border-radius: var(--border-radius);
    margin: 2rem 0; }
  .p-page__main-content img + p {
    color: red;
    font-size: 1.2rem; }
  @media screen and (min-width: 500px) {
    .p-page__main-content {
      padding: 5rem; } }
  @media screen and (min-width: 1080px) {
    .p-page__main-content {
      padding: 5rem 10rem; } }

.p-page__side {
  width: 33%; }
  @media screen and (max-width: 849px) {
    .p-page__side {
      width: 100%; } }

.p-page__side-section > * + * {
  margin-top: 2rem; }

.p-product-card {
  position: relative; }

.p-product-card__meta > * + * {
  margin-left: 1rem; }

.p-product-card__price {
  font-weight: 700;
  font-weight: var(--font-weight--bold); }

.p-product-card__qty {
  font-weight: 300;
  font-weight: var(--font-weight--light); }

.p-product-card__cta {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1rem; }
  .p-product-card__cta > * {
    margin-right: 2rem;
    margin-top: 1rem; }

.p-product-card__cta__options {
  color: #c1c1c1;
  font-size: 1.2rem;
  font-size: var(--font-size--xs); }

.p-product-card__flag {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 25px;
  z-index: 1;
  text-align: center;
  color: white;
  font-size: 1.2rem;
  font-size: var(--font-size--xs);
  font-weight: 700;
  font-weight: var(--font-weight--bold);
  line-height: 25px; }

.p-product-card__flag--sold-out {
  background-color: red;
  background-color: var(--color-error); }

.p-product-card--half {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }
  .p-product-card--half .c-card__image {
    width: 50%; }
  .p-product-card--half .c-card__body__content {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0; }
  .p-product-card--half .p-product-card__items {
    color: #777777;
    color: var(--color-muted);
    font-size: 1.4rem;
    font-size: var(--font-size--s);
    margin-top: 1rem; }
    .p-product-card--half .p-product-card__items ul {
      font-size: 1.2rem;
      font-size: var(--font-size--xs);
      list-style: disc;
      margin-left: 2rem;
      margin-top: 0.5rem; }
  .p-product-card--half .p-product-card__saving {
    margin-top: 1rem;
    font-weight: 700;
    font-weight: var(--font-weight--bold);
    font-size: 1.4rem;
    font-size: var(--font-size--s);
    color: #4cc74a;
    color: var(--color-primary); }

.p-product-detail-section {
  background-color: white;
  background-position: top right, bottom left;
  background-repeat: no-repeat;
  border-bottom: 0px !important; }

.p-product-detail {
  background-color: white;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5rem; }
  .p-product-detail > * {
    padding: 0 5rem; }

.p-product-detail__aside {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 30%; }
  .p-product-detail__aside > * + * {
    margin-top: 3rem; }

.p-product-detail__aside__title {
  margin-bottom: 1rem; }

.p-product-powers {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 5rem;
  padding-right: 5rem; }
  .p-product-powers > * {
    padding: 0 5rem;
    width: 40%; }

.p-product-power__content__title {
  font-family: "DM Serif Text"
,
serif;
  font-family: var(--heading-font-family);
  font-size: 3rem;
  font-size: var(--heading-font-size--xl);
  margin-bottom: 2rem; }

.p-product-power__content__intro {
  color: #777777;
  color: var(--color-muted);
  font-size: 1.6rem;
  font-size: var(--font-size);
  margin-bottom: 3rem; }

.bold-bundle {
  display: none !important; }

.p-product__tl-dr {
  max-width: 400px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 50%; }

.p-product__title {
  font-family: "DM Serif Text"
,
serif;
  font-family: var(--heading-font-family);
  font-size: 5.3rem;
  font-size: var(--heading-font-size--xxl);
  line-height: 0.8;
  line-height: var(--heading-line-height--xxl); }

.p-product__intro {
  margin-top: 4rem; }

.p-product__meta {
  margin-top: 2rem;
  border-top: solid 1px #e8e8e8;
  border-top: solid 1px var(--color-border);
  font-size: 1.6rem;
  font-size: var(--font-size);
  height: 50px;
  line-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.p-product__meta--saving {
  color: #4cc74a;
  color: var(--color-primary);
  font-size: 1.4rem;
  font-size: var(--font-size--s);
  margin-top: 0; }

.p-product__price {
  font-weight: 700;
  font-weight: var(--font-weight--bold);
  margin-right: 1rem; }

.p-product__size {
  font-size: 1.4rem;
  font-size: var(--font-size--s); }

.p-product__delivery {
  border-top: solid 1px #e8e8e8;
  border-top: solid 1px var(--color-border);
  padding-top: 1rem; }

.p-product__variant {
  border-top: solid 1px #e8e8e8;
  border-top: solid 1px var(--color-border);
  padding-top: 1rem; }
  .p-product__variant.u-visually-hidden {
    width: 0; }

.p-product__qty {
  width: 60px; }
  .p-product__qty input {
    text-align: center; }

.p-product__buy {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem; }
  .p-product__buy .c-button {
    margin-left: 2rem; }

.p-product__images {
  border-radius: 5px;
  border-radius: var(--border-radius);
  border: solid 1px #e8e8e8;
  border: solid 1px var(--color-border);
  -webkit-box-shadow: 0;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: 0;
          box-shadow: var(--box-shadow);
  max-width: 600px;
  width: 40%;
  overflow: hidden; }

.p-product__header {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .p-product__header .c-label {
    margin-bottom: 0.5rem; }

.p-product__delivery {
  margin-top: 2rem;
  font-size: 1.6rem;
  font-size: var(--font-size); }

.p-section-header {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 90px; }

.p-section-header--sort {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.p-section-header__title {
  font-family: "DM Serif Text"
,
serif;
  font-family: var(--heading-font-family);
  font-size: 3rem;
  font-size: var(--heading-font-size--xl); }

.p-section-header__intro {
  color: #777777;
  color: var(--color-muted);
  font-size: 1.6rem;
  font-size: var(--font-size);
  margin-top: 2rem;
  max-width: 45ch; }
  .p-section-header__intro a {
    text-decoration: underline; }
    .p-section-header__intro a:focus, .p-section-header__intro a:hover {
      text-decoration: none; }

.p-statement {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.6rem;
  font-size: var(--font-size); }

.p-statement__icon {
  display: block;
  height: 82px;
  margin-bottom: 2rem;
  width: 80px; }

.p-statement__title {
  font-family: "DM Serif Text"
,
serif;
  font-family: var(--heading-font-family);
  font-size: 2rem;
  font-size: var(--heading-font-size--l);
  margin-bottom: 0.5rem; }

.l-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  padding-left: 50px;
  padding-right: 50px; }
  @media screen and (max-width: 1079px) {
    .l-container {
      padding-left: 2rem;
      padding-right: 2rem; } }

.l-container--medium {
  max-width: 1200px; }

.l-container--small {
  max-width: 1080px; }

.l-grid--quarters {
  display: -ms-grid;
  display: grid;
  grid-gap: 3rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr; }
  @media screen and (min-width: 500px) {
    .l-grid--quarters {
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr; } }
  @media screen and (min-width: 768px) {
    .l-grid--quarters {
      -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr; } }
  @media screen and (min-width: 1080px) {
    .l-grid--quarters {
      -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr; } }

@media screen and (min-width: 768px) {
  .l-grid--quarters--single-row {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr; } }

@media screen and (min-width: 1080px) {
  .l-grid--quarters--single-row {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr; } }

.l-grid--thirds {
  display: -ms-grid;
  display: grid;
  grid-gap: 3rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr; }
  @media screen and (min-width: 500px) {
    .l-grid--thirds {
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr; } }
  @media screen and (min-width: 768px) {
    .l-grid--thirds {
      -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr; } }

.l-grid--halves {
  display: -ms-grid;
  display: grid;
  grid-gap: 3rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr; }
  @media screen and (min-width: 768px) {
    .l-grid--halves {
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr; } }

.l-page {
  margin-top: 70px; }

.l-section {
  border-bottom: solid 1px #e8e8e8;
  border-bottom: solid 1px var(--color-border);
  padding-bottom: 90px;
  padding-top: 90px; }
  @media screen and (max-width: 767px) {
    .l-section {
      padding-bottom: 50px;
      padding-top: 50px; } }
  @media screen and (max-width: 499px) {
    .l-section {
      padding-bottom: 30px;
      padding-top: 30px; } }

.l-section--no-border {
  border-bottom: 0;
  padding-bottom: 0; }

.l-section--large {
  padding-bottom: 200px;
  padding-top: 200px; }
  @media screen and (max-width: 767px) {
    .l-section--large {
      padding-bottom: 150px;
      padding-top: 150px; } }
  @media screen and (max-width: 499px) {
    .l-section--large {
      padding-bottom: 90px;
      padding-top: 90px; } }

.l-section--flush {
  padding-bottom: 0;
  padding-top: 0; }
