:root {
    --color-body: #ffffff;
    --color-text: #333333;

    --color-primary: #4cc74a;
    --color-secondary: #fbf86b;

    --color-border: #e8e8e8;

    --color-error: red;
    --color-success: green;

    --color-muted: #777777;
}
