.p-feature {
    background-color: #f6f7f9;
    background-image: url("https://source.unsplash.com/600x600/?nature");
    background-size: 50%;
    background-position: left center;
    background-repeat: no-repeat;
}

.p-feature__inner {
    display: flex;
}

.p-feature__body {
    margin-left: auto;
    padding: 90px 150px;

    .c-snippet__cta {
        margin-top: 4rem;
    }
}
