.p-header-benefit {
    align-items: center;
    display: flex;
    flex-grow: 0;
    font-size: var(--font-size);
    font-weight: 500;
    padding-left: 25px;
    padding-right: 25px;

    svg {
        margin-right: 1rem;
    }

    @include mq($bp--nav, max) {
        margin-left: auto;
    }

    @include mq(600px, max) {
        display: none;
    }
}
