.p-header {
    align-items: center;
    background-color: white;
    border-bottom: solid 1px var(--color-border);
    display: flex;
    height: 70px;
    justify-content: space-between;
    left: 0;
    padding-left: 50px;
    position: fixed;
    top: 0;
    width: 100%;
}
