.p-hero {
    background-image: url("https://source.unsplash.com/collection/9479225/1000x1000");
    background-size: 50%;
    background-position: right center;
    background-repeat: no-repeat;
}

.p-hero__inner {
}

.p-hero__title {
    color: #000000;
    font-family: var(--heading-font-family);
    font-size: var(--heading-font-size--xxl);
    line-height: var(--heading-line-height--xxl);
}

.p-hero__intro {
    color: #555555;
    font-size: var(--font-size);
    margin-top: 3rem;
    max-width: 40ch;
}

.p-hero__button {
    margin-top: 2.5rem;
}
