.p-hero {
    background-position: right;
    background-size: cover;
}

.p-hero__inner {
}

.p-hero__title {
    font-family: var(--heading-font-family);
    font-size: 6.2rem;
    line-height: 1.1;
    max-width: 450px;
}

.p-hero__intro {
    font-size: var(--font-size);
    margin-top: 3rem;
    max-width: 40ch;
}

.p-hero__button {
    margin-top: 2.5rem;
}
