.p-product-card {
    position: relative;
}

.p-product-card__meta {
    > * + * {
        margin-left: 1rem;
    }
}

.p-product-card__price {
    font-weight: var(--font-weight--bold);
}

.p-product-card__qty {
    font-weight: var(--font-weight--light);
}

.p-product-card__cta {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;

    > * {
        margin-right: 2rem;
        margin-top: 1rem;
    }
}

.p-product-card__cta__options {
    color: #c1c1c1;
    font-size: var(--font-size--xs);
}

.p-product-card__flag {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 25px;
    z-index: 1;
    text-align: center;
    color: white;
    font-size: var(--font-size--xs);
    font-weight: var(--font-weight--bold);
    line-height: 25px;
}

.p-product-card__flag--sold-out {
    background-color: var(--color-error);
}

.p-product-card--half {
    flex-direction: row-reverse;

    .c-card__image {
        width: 50%;
    }

    .c-card__body__content {
        flex-grow: 0;
    }

    .p-product-card__items {
        color: var(--color-muted);
        font-size: var(--font-size--s);
        margin-top: 1rem;

        ul {
            font-size: var(--font-size--xs);
            list-style: disc;
            margin-left: 2rem;
            margin-top: 0.5rem;
        }
    }

    .p-product-card__saving {
        margin-top: 1rem;
        font-weight: var(--font-weight--bold);
        font-size: var(--font-size--s);
        color: var(--color-primary);
    }
}
