.p-statements {
}

.p-statements-list {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;

    > * + * {
        margin-left: 3rem;
    }
}

.p-statement {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: var(--font-size);
}

.p-statement__icon {
    align-items: center;
    border-color: var(--color-primary);
    border-radius: 100%;
    border-style: solid;
    border-width: 2px;
    display: flex;
    height: 70px;
    justify-content: center;
    margin-bottom: 2rem;
    width: 70px;
}

.p-statement__title {
    color: #000000;
    font-weight: var(--font-weight--bold);
    margin-bottom: 0.5rem;
}

.p-statement__description {
    color: var(--color-muted);
    max-width: 40ch;
    text-align: center;
}
