.p-statements {
}

.p-statements-list {
}

.p-statement {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: var(--font-size);
}

.p-statement__icon {
    display: block;
    height: 82px;
    margin-bottom: 2rem;
    width: 80px;
}

.p-statement__title {
    font-family: var(--heading-font-family);
    font-size: var(--heading-font-size--l);
    margin-bottom: 0.5rem;
}
