.l-section {
    border-bottom: solid 1px var(--color-border);
    padding-bottom: 90px;
    padding-top: 90px;

    @include mq($bp--medium, max) {
        padding-bottom: 50px;
        padding-top: 50px;
    }

    @include mq($bp--small, max) {
        padding-bottom: 30px;
        padding-top: 30px;
    }
}

.l-section--no-border {
    border-bottom: 0;
    padding-bottom: 0;
}

.l-section--large {
    padding-bottom: 200px;
    padding-top: 200px;

    @include mq($bp--medium, max) {
        padding-bottom: 150px;
        padding-top: 150px;
    }

    @include mq($bp--small, max) {
        padding-bottom: 90px;
        padding-top: 90px;
    }
}

.l-section--flush {
    padding-bottom: 0;
    padding-top: 0;
}
